.schedule {
    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr [progress-s] 76px [progress-e];
    grid-row-gap: 22px;
    
}